api
pkg
doc/faq/faq.html
*.so
*.bundle
*.swp
test/test.db
tmp
ports
*.log
*.o
.config
InstalledFiles
Makefile
Gemfile.lock

# windows local build artifacts
win_gem_test/shared/
win_gem_test/test_logs/
/Rakefile_wintest
*.gem